<div class="container-fluid">
  <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
          <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 min-vh-100">
            <h3><a [routerLink]="['/']">Recipe Finder</a></h3>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                <li class="nav-item"><a [routerLink]="['/']" class="nav-link align-middle px-0">Home</a></li>
                <li class="nav-item"><a [routerLink]="['/recipes']" class="nav-link px-0 align-middle">My recipes</a></li>
            </ul>
            <hr>
          </div>
      </div>
      <div class="col px-0">
        <router-outlet></router-outlet>
      </div>
  </div>
</div>
